html,
body {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.separator {
    margin-top: 20px;
    width: 100%;
    background-color: #ffa500;
    height: 2px;
}

.main-button:hover .slide {
    left: 0;
}
