html,
body {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.importantName {
    color: orange;
    display: inline-flex;
    padding-left: 2px;
    font-weight: 600;
}

.importantName:hover {
    color: #cc6600;
}

.separator {
    margin-top: 20px;
    width: 100%;
    background-color: #ffa500;
    height: 2px;
}
