body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
    font-family: "HarmondBold";
    src: local("Harmond-ExtraBoldExpanded"), url("./fonts/Harmond/Harmond-ExtraBoldExpanded.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "HarmondSemi";
    src: local("Harmond-SemiBoldCondensed"), url("./fonts/Harmond/Harmond-SemiBoldCondensed.otf") format("truetype");
    font-weight: 500;
}
